.mainDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 100px;
  width: 50%;
  background: linear-gradient(#250358, #440c66);
  text-align: center;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h1{
  margin-top: 20px;
  font-size: xx-large;
}

.links {
  display: block;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 2px 28px;
  font-size: 25px;
}

.links{
  margin-top: 20px;
}

.links:hover{
  font-size: 30px;
  color: red;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
